version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_DATABASE: time_db
    ports:
      - "3306:3306"
    restart: always
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-uroot", "-p1234"]
      interval: 5s
      timeout: 5s
      retries: 5

      
  adminer:
    image: adminer
    container_name: adminer
    ports:
      - "8080:8080"
  backend:
    build: ./api
    container_name: backend
    depends_on:
      mysql:
        condition: service_healthy
    environment:
      DB_HOST: mysql
      DB_PORT: 3306 
      DB_ROOT_PASSWORD: 1234
      DB_NAME: time_db
    ports:
      - "5555:5000" 
    restart: always


  frontend:
    build: ./frontend
    container_name: frontend
    depends_on:
      - backend
    ports:
      - "8954:8954"
    volumes:
      - ./frontend:/workdir/timeapp
      - /workdir/timeapp/node_modules

volumes:
  mysql_data:
