version: '3.8'

services:
  postgres:
    image: postgres:alpine
    container_name: postgres-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: time_db
    ports:
      - "15432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  adminer:
    image: adminer
    container_name: adminer
    ports:
      - "8080:8080"

  backend:
    build: ./api
    container_name: backend
    depends_on:
      - postgres
    environment:
      DB_HOST: postgres
      DB_PORT: 5432  
      DB_USER: postgres
      DB_PASSWORD: 1234
      DB_NAME: time_db
    ports:
      - "5555:5000" 

  frontend:
    build: ./frontend
    container_name: frontend
    depends_on:
      - backend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/workdir/timeapp
      - /workdir/timeapp/node_modules

volumes:
  postgres_data:
